:root {
  --mainWhite: #DBF227;
  --mainGreen: #9FC131;
  --mainBlue: #0d2c54;
  --lightBlue: #D6D58E;
  --mainBlack: #042940;
}
.max-height {
  min-height: 100vh;
}
body {
  background-color: #042940;
  color: var(--mainWhite);
}
.main-container {
  border: 0.1rem solid var(--mainWhite);
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.9);
  border-radius: 0.2rem;
}
#counter {  
  font-size: 10rem;  
}
.prevBtn,
.nextBtn {
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.9);
  background: var(--mainBlue);
  color: var(--mainWhite);
}
.prevBtn:hover {
  background: var(--lightBlue);
}
.nextBtn:hover {
  background: var(--lightBlue);
}
